/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
      background-color: #4fcdf3
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.key-message {
    text-align: center;
    background: #61f4de
    padding: 20px;
    box-shadow: 0 4px 8px rgba(15, 15, 15, 0.1);
    border-radius: 10px;
    font-weight: bold;
    font-size: 5.5rem;
    margin-top: 20px;
    width: 65rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    
}
#key{
    font-size: 5.5rem;
    color: #3a912f;
}
.key-code {
    text-align: center;
    background: #61f4de
    padding: 20px;
    box-shadow: 0 4px 8px rgba(26, 25, 25, 0.1);
    border-radius: 10px;
    font-size: 6rem;
    margin-top: 10px;
    font-weight: bold;
    color: #3a912f;
    width: 20rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}